 #content form {margin-bottom:0;}
#content p.subtle {margin:0 0 0.5em; float:right}
#content .subtle a {color:#999; font-size:0.7em}
#header {background:#111; padding:10px 4%; border-bottom:3px solid #999}
#search_box {font-size:0.85em}
img {border-width:0}
p.pages {xfloat:right; font-size:0.85em; margin-top:1.2em}
span.pipe {color:#999; margin:0 0.15em}
div.news {background:#cfc; text-align:center; margin:0 auto; width:40em; margin-top:1em; padding:7px 15px; font-size:0.7em; font-weight:bold}
div.news p {margin:0}
p.notice, p.sections {background:#df9; padding:7px 15px; border:1px solid #bd7; margin-top:0; font-size:0.8em}
p.error {background:#c00; color:white}
p.sections a.action {color:#c00}
.hasfile {color:#090; font-weight:bold; margin-left:10em}
p.subtitle {font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif; font-size:0.75em; color:#888; font-weight:bold; margin-top:-0.8em}
p.subtitle img {vertical-align: bottom}
pre.explain {background:#e7e7e7; padding:7px 15px; border:1px solid #ccc; margin:0 2em}
hr {height:0; border:0; border-bottom:1px solid #ccc; margin:1em 0; width:80%}
#right hr {border-color:#bbb}
#monitor_topic {font-size: 12px}
#monitor_topic .icon {background-image:none}
#footer p {margin:0}
#footer p.credit {float:right; text-align:right}
#footer p.credit a.subtle {color:#333}
#footer p.legal {float:left; margin-right:1.5em}
#footer p.disclaim {float:left; color:#080}
ul.quotes, ul.flat {margin-left:0; padding-left:0; font-size:0.9em; list-style-type:none; list-style:none}
ul.talking li span {list-style:none; color:#666; font-size:0.8em}
ul.flat li {list-style-type: none; background:url(/images/small_circle.gif) no-repeat 5px 6px; padding-left:15px}
ul.ways li span {color:#666; font-size:0.9em}
ul.quotes {font-size:0.8em}
ul.quotes li {margin-bottom:1em}
ul.quotes span {color:#666; font-size:0.9em}
ul.why {font-family:'Lucida Grande', Arial, Helvetica, sans-serif; font-size:1em; line-height:1.25em; margin-top:2em}
ul.why li p {margin-top:0.5em; color:#666; font-size:0.9em}
ul.why li p strong {color:#c00}
a.utility {font-weight:normal; color:#efefef; font-size:1em}
a.remove {color:#c00}
a.utility:hover {color:#ff7a19; text-decoration:underline}
a.subtle {color:#369}
a.subtle:hover {color:blue}
div.asset {background:#e7e7e7; padding:7px 15px; border-bottom:1px solid #ccc; font-family:'Lucida Grande',Tahoma, Arial, Helvetica, sans-serif; font-size:0.8em; margin-bottom:1em; text-align:center}
input.primary {font-size:1.2em; border: solid 1px #ccc}
input.submit, button {margin-right:1em; float:right; border: solid 1px #ccc; height:30px; font-size:1.4em; background: transparent url('/images/bg-menu.gif') repeat-x top right; padding-left:10px; padding-right:10px; color:#fff}
.pastebox {width:100%}
p.private, #content .legend {margin-top:0; color:#999; font-size:0.8em}
#content .legend span strong {color: black}
#content .legend span {margin-right:5em}
p.private img {vertical-align:bottom;}
p.private {xcolor:white; color:#c00; font-weight:bold}
p.psmall {font-size:0.8em; font-weight:normal}
div.upload {margin-top:-0.5em; xbackground:#e7e7e7; padding:7px 0; float:left; xwidth:63%; margin-left:0.5em}
div.upload p label {font-size:1em; font-weight:bold;}
div.upload p {margin:0}
div.upload input {margin-left:0.75em;}
div.upload a {color:#666; font-size:0.8em}
.pastePreview pre {font-size:0.9em}
.pastePreview p {color:#777; font-size:0.7em; margin:0 0 0.5em}
.pastePreview .when {float:right}
.pastePreview .when strong {color:black}
p {font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif}
#news {background:#248; background:#475f30; border:2px solid #778f60; border-width:2px 0; padding:5px 4%; color:#ffc; font-size:0.70em; text-align:center; position:fixed; bottom:0; width:100%; padding:6px 0 7px; z-index:50}
#news a.subtle {color:#ffc; font-weight:normal;}
#news a {color:gold; font-weight:bold}
#news p {margin:0;}
#header img {vertical-align:bottom; margin-right:0.25em}
#top_nav ul#nav {position:absolute; float:left; list-style-type:none; margin:0; margin-top:0.4em}
#top_nav ul#nav li {color:gold; float:left; display:inline; margin-left:2em}
ul#nav {list-style-type:none; margin:0; margin-top:0.4em}
ul#nav li {list-style-type:none}
#right_content{ margin-left:30px}
#right_content ul {list-style-type:none}
#top_usernav{ height:25px; width:230px; float:right; padding-right:5px}
#top_usernav ul#nav {float:right; list-style-type:none; margin:0; margin-top:0.4em; z-index:1000}
ul#language_nav{ float:left; list-style-type:none; margin:0; margin-top:0.4em; z-index:1000}
#top_usernav ul#nav li, ul#language_nav li {list-style-type:none; #ffc600; float:left; margin-left:2em}
#top_usernav ul#nav li a, ul#language_nav li a {display:block; float:left; xcolor:#a86; color:#ffc600; xpadding:3px 1em}
#top_usernav ul#nav li.login a {color:#ffc600; text-decoration: none}
#top_usernav ul#nav li.active a {font-weight:bold; xbackground:#222; color:#ffc600}
#top_usernav ul#nav li.hot a {color:#ffc600}
#top_usernav ul#nav li.logout a {color:#ffc600}
.line_numbers, .lineNumbers {color:#999; padding-right:0.5em; text-align:right}
.line_numbers strong {color:#555}
td.code, .thePaste {padding-left:0.75em}
label {font-family:'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif; color:#ccc; font-size:1em; font-weight:normal}
.photo {background:#aaa url(/images/clearbits/smile.gif) no-repeat 8px 8px}
.smallutils {xfloat:right; margin-top:-0.5em; margin-bottom:0em; text-align:right}
.smallutils a {color:#666; font-size:0.7em}
.smallutils a:hover {color:#369;}
table.noborder td {border:0}
table.nopad td {padding-left:0}
table {border-collapse:collapse; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif}
table.wide {background:#535353; width:100%; color:#e9e9e9}
table tr th {background:#333; color:white; font-size:1em; padding:3px 10px; border:1px solid #222}
table tr td {padding:7px; border:1px solid #ddd}
#forum_description, #topic_body {width:99%}
table.forums, table.topics {font-size:0.8em}
table.forums tr th {font-size:1em}
table.forums tr td .title {font-size:1.4em}
table.forums tr td .desc {margin:0.5em 0}
table.forums tr td {padding:4px 15px}
table.forums a.tiny {font-size:0.9em; color:#efefef}
table.forums .posts {font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif; color:#fff; font-size:1em}
table tr th.la {text-align:left; font-size:1em;}
table tr td.ca {text-align:center; background:#666;}
table tr td.ca_inv_stat {text-align:center}
table tr td.inv {background:#eee}
table tr td.vat {vertical-align:top; background:#eee;}
.f_index_icon{ vertical-align:top; background:#666;}
table tr td.narrow {padding:2px 5px;}
img.border{ padding-left:3px; padding-right:3px}
a.admin {color:#fff; font-weight:bold}
table tr td.lp {color:#efefef}
table tr td.lp strong {color:#ffc600}
table tr td.lp span {color:#666}
table tr td.lp span a {color:#ff7a19}
table.topics tr td.c1 {border-right:0; padding-right:2px}
table.topics tr td.c2 {border-left:0; padding-left:2px}
table.topics tr td.c3 {border-left:0; background:#333;}
table.forums tr td.c1 {border-right:0; padding-right:5px; padding-top:7px}
table.forums tr td.c2 {border-width:1px 0; padding-left:5px}
table.forums tr td.c3 {border-left:0; padding-left:5px}
table.topics tr td.c2 small a, .crumbs small a {color:#666}
table.topics tr td.stat {font-size:0.9em}
table.topics tr td .flag {background:#333; color:white; padding:1px 5px; margin-right:0.5em}
.button_or {color:#666; padding-left:0.5em; font-size:0.9em; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif}
.button_or a {color:#c00}
form.dialog {margin-top:3em; background:#eee; width:300px; padding:15px}
form .entryhelp {font-size:0.9em}
form .help {font-size:1em}
span.arrow {font-weight:normal; font-size:1em; color:#999}
div.stats {margin-top:2em; background:#efefef; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif; font-size:0.9em; padding:15px 15px; border:2px solid #393; border-width:1px 0}
div.stats .posts {float:right; text-align:right}
.crumbs {padding-top:5px; font-size:1em; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif}
.crumbs a {color:#468}
.crumbs a:hover {color:yellow; text-decoration:underline}
#post_body{ color:#fff; font-size:1.1em}
table.posts {border-bottom:2px solid #eee}
table.posts img {max-width:450px}
table.posts tr td {border:0}
table.posts tr.spacer td {font-size:1px}
.post .author .edit a {font-size:1em; color:#666}
.post .author img {float:left; margin-right:0.5em}
.post .author {border-top:2px solid #eee; padding:5px 10px; background:#eee; font-weight:bold; color:#333; font-size:0.9em; min-height:32px; width:10em; min-width:8em; vertical-align:top}
.post .author .posts, .post .author .admin {display:block; font-size:0.8em; color:black; color:#666}
.post .author a {color:#333; text-decoration:none}
.post .author a.threadauthor {color:#080}
.post .author a:hover {color:#369; text-decoration:underline}
.post .date {font-size:0.9em; color:#666; font-weight:normal; margin-bottom:0.5em}
.posts .post .body {border-top:2px solid #eee; padding:10px 20px}
.posts .post .body blockquote {border:1px solid #cda; border-left:3px solid #9a7; border-right:0; background:#efc; padding:1px 10px; margin-left:0}
.posts .post .body pre {font-size:0.8em; background:#eee; padding:5px 10px; border:1px solid #ccc; border-left:3px solid #ddd; border-right:0; overflow:auto; font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif}
.posts .post .body a:hover {color:brown}
.posts .post .body blockquote p {margin:0.5em 0}
.post .body p.topic {font-size:0.8em; font-weight:bold; background:#eee; padding:2px 10px}
p.online {margin-bottom:0;}
img.icon {background:#696; background-image: url(/images/clearbits/bg_rounded.gif); background-repeat: no-repeat; vertical-align: bottom}
img.reply {float:right}
img.orange {background-color:darkorange}
img.grey {background-color:#ccc}
img.darkgrey {background-color:#999}
img.green {background-color:#0c0;}
.post .author .icon {float:right}
div.editbox {background:url(/images/reply_background.png); border:2px solid #333; border-width:2px 0; position:fixed; bottom:0; left:0; width:100%; padding:6px 0 7px; z-index:50}
div.editbox .container {width:92%; margin:0 auto; min-width:760px}
div.editbox p {margin:0.5em 0;}
div.editbox textarea {width:100%; background:#333; color:#fff; opacity:1; border: solid 1px #ccc; font-size:1em; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif}
textarea, input {background:#333; color:#fff; opacity:1; border: solid 1px #ccc; font-size:1em; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif}
div.editbox .button_or a {color:#ccc}
div.editbox table td {border:0}
textarea{ color: #efefef; font-size: 0.95em; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif; margin-top: 0.2em}
div.editbox a.utility {color: #efefef; font-size: 0.95em; padding: 2px 5px 4px; display: block; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif; float: right; text-align: right; margin-top: 0.2em}
div.editbox h5 {background:#222; color:white; padding:2px 10px 3px; font-size:0.7em; margin:0.2em 0 0.5em}
div.editbox p.help span, div.editbox ul.help span {color:#666}
div.editbox p.help, div.editbox ul.help {padding:3px 10px; font-size:0.75em; color:#ccc; font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif}
div.editbox ul.help {margin:0}
div.editbox ul.help {list-style-type:none}
#monitor_topic a {color: #666}
#lightbox{ position: absolute; left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0}
#lightbox a img{ border: none}
#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto}
#imageContainer{ padding: 10px}
#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0}
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}
#prevLink, #nextLink{ width: 49%; height: 100%; background: transparent url(/images/lightbox/blank.gif) no-repeat; display: block}
#prevLink {left: 0; float: left;}
#nextLink {right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover {background: url(/images/lightbox/prev.gif) left 15% no-repeat}
#nextLink:hover, #nextLink:visited:hover {background: url(/images/lightbox/next.gif) right 15% no-repeat}
#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100% }
#imageData{ padding:0 10px; color: #666}
#imageData #imageDetails{ width: 70%; float: left; text-align: left}
#imageData #caption{ font-weight: bold}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em}
#imageData #bottomNavClose{ float: right; padding-bottom: 0.7em}
#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000}
.dropmenudiv_a{ position:absolute; top: 0; border: 1px solid black; border-top-width: 0px; border-bottom-width: 0; font-size:1.1em; font:bold; line-height:18px; z-index:100; background-color: #666; width: 200px; visibility: hidden}
.dropmenudiv_a a{ width: auto; display: block; text-indent: 5px; border-top: 0 solid #ccc; border-bottom: 1px solid #ccc; padding: 2px 0; text-decoration: none; color: #ff7a19; font-weight:normal}
* html .dropmenudiv_a a{ width: 100%}
.dropmenudiv_a a:hover{ background-color: #ff7a19; color: white}
html{height: 100%;}
body {font-family: verdana, arial, sans-serif; padding: 0px; margin: 0px; font-size: .68em}
a{outline: none;}
a, a:link, a:visited {color:#ff6d00; text-decoration:none}
a:hover {text-decoration:underline}
#logo h1 a{ font-size:56px; color:#ffc600}
#logo h1 a span {font-size:56px; color:#ff7a19}
#logo img{ vertical-align:middle; margin-left:600px}
#logo h1 {font-family: century gothic, sans-serif; font-size: 60px; text-transform: lowercase; font-weight: normal; position:absolute; top:50px; border: 0px; float: left; letter-spacing: 0px}
#logo, #logo h1 a {border:none; text-decoration:none}
#logo h1 a{ margin-top:150px}
h2,h3, h4 {color:#ffc600}
.orange{ color:#ff7a19}
#top_menu li a {display: block; float: left; height:26px; text-decoration: none; padding: 6px 19px 0px 19px; border-right: 2px solid; font-weight: bold; background: #40403E; color: #929280; border-color: #2C2C2A; background:transparent url(/images/nav_tab_bg.png) no-repeat scroll left top}
#top_menu li a:hover, #top_menu li a.selected, #top_menu li a.selected:hover {background: #82974B; color: #EEE; border-color: #2C2C2A; background:transparent url(/images/nav_tab_bg.png) no-repeat scroll left top; background-position: 0 -34px}
span.blue{ color:#0063dc}
span.pink{ color:#ff0084}
p {margin: 0px; padding: 0px 0px 16px 0px; line-height: 1.7em}
h1 {font-family: arial, sans-serif; letter-spacing: .1em; font-weight: normal; text-transform: uppercase; padding: 16px 0px 5px 0px; margin: 0px 0px 12px 0px; font-size: 150%; color:#ffc600}
.sub {font-size: 55%; padding-left: 12px; letter-spacing: .1em}
img {border: 0px; margin: 0px; padding: 0px}
blockquote {margin: 20px 0px 20px 0px; padding: 10px 20px 0px 20px; border-left: 8px solid}
#photos_form{ display:block; margin-top:20px; border:1px solid; position:relative}
.edit_photo_details {font-size:0.9em; height:80px}
#photos_list ul {list-style: none; border:1px}
#photos_list li {display: inline; float:left; margin-right: 30px}
#photos_list li a img {float:center; background: #000}
a.admin_hover_links{ color:#ffc600}
a.admin_hover_links:hover{ color:#ff7a19}
#photos_list {margin-bottom: 20px; padding: 5px; background: #000}
ul {margin: 2px 0px 18px 16px; padding: 0px}
ul li {list-style-type: square; margin: 0px 0px 6px 0px; padding: 0px}
ol {margin: 8px 0px 0px 24px; padding: 0px}
ol li {margin: 0px 0px 11px 0px; padding: 0px}
#main {width:880px; padding-top: 0px}
.disignBoxFirst {background:transparent url(/images/db_first_bg.jpg) no-repeat scroll left top; clear:left; margin-bottom:10px; padding-top:16px; position:relative}
.disignBoxFirst .boxFirstHeader {color:#ffc600; font-size:18px; font-weight:bold; height:20px; padding:3px 0px 0px 30px; position:relative; text-align:left}
.disignBoxFirst .boxContent {font-size:13px; overflow:hidden; padding:10px 0pt 10px 24px; position:relative}
.disignBoxFirst_wide {background:transparent url(/images/db_first_bg_wide.jpg) no-repeat scroll left top; clear:left; margin-bottom:10px; padding-top:16px; padding-right:10px; position:relative; width:190px}
.disignBoxFirst_wide .boxFirstHeader {color:#ffc600; font-size:18px; font-weight:bold; height:20px; padding:3px 0px 10px 20px; position:relative; text-align:left; width:230px}
.disignBoxFirst_wide .boxContent {font-size:13px; overflow:hidden; padding:10px 0pt 10px 24px; position:relative}
.disignBoxSecond {}
.disignBoxSecond .boxSecondHeader {color:#ffc600; font-size:110%; font-weight:bold; height:20px; padding:3px 0px 0px 40px; position:relative; text-align:left; text-transform:uppercase}
.disignBoxSecond .boxContent {font-size:13px; overflow:hidden; padding:10px 24pt 10px 24px; position:relative}
.disignBoxSecond_wide {}
.disignBoxSecond_wide .boxSecondHeader {color:#ffc600; font-size:110%; font-weight:bold; height:20px; padding:14px 10px 10px 40px; position:relative; text-align:left; text-transform:uppercase}
.disignBoxSecond_wide .boxContent {font-size:13px; overflow:hidden; padding:10px 4pt 10px 34px; position:relative}
.thumb_block {position:relative; height:100px;}
.thumb_image {float:left; margin:0pt 5px 5px 5px; width:70px}
#logo, #top_menu, #site_content, #main {margin-left: auto; margin-right: auto}
#links {margin: 15px 9px 0px 0px; font-size: 80%; text-align: right; padding: 20px 10px 0px 0px; text-transform: uppercase}
#top_menu{ height: 32px; width: 880px; position:relative; background: transparent; color: #EEE; padding-top:0px; margin-top:0; border-color: #82974B}
#top_menu ul{margin: 0px auto;}
#top_menu li {float: left; margin: 0px; padding: 0px; list-style: none}
#colours {height: 0px; text-align: right; padding: 16px 16px 0px 300px}
#site_content{ width: 878px; overflow: hidden; border-right: 1px solid; border-bottom: 1px solid; border-left: 1px solid; position:relative}
#first_column {padding: 22px 3px 10px 10px; float: left; width: 300px}
#first_column_wide {padding: 22px 3px 10px 10px; float: left; width: 200px}
.info {padding-top: 4px; float: left}
#content {text-align: left; width: 542px; float: left; padding: 12px 0px 18px 10px}
#content_wide {text-align: left; width: 642px; float: left; padding: 12px 0px 18px 0px}
#footer {padding:10px; font-size:12px}
#footer #copy_r {float:right}
body{ background: #2C2C2A; color: #929280; background:#fff url(/images/body_bg.jpg) repeat-x scroll left top}
blockquote{ border-color: #40403E}
#site_content{ background-color:#000; border-color: #40403E}
.red{ color:red}
.pad_red{ color:red; background:white; padding:3px}
#contact input, #contact textarea, #contact input.submit{ background: #2C2C2A; color: #929280; border-color: #40403E}
.edit_icons{ text-align:right; padding-left:20px}
.edit_icons img{ padding-left:5px}
#confirm_message{ position:absolute; right:35%; top:20px; background:#fff; font-size:3em; color:red}
#photo_form_container{ background:url(/images/reply_background.png); border:2px solid #333; border-width:2px 0; position:fixed; bottom:0; left:0; width:100%; height:190px; padding:6px 0 7px; z-index:50}
#photo_form_container table h2{ margin:0; padding:0; line-height:1em}
#photo_form_container table, table.noborder{ border:none}
#photo_form_container table td, table.noborder td{ vertical-align:top; border:none}
#form_container{ padding:20px}
#form_container {background:url(/images/reply_background.png); border:2px solid #333; border-width:2px 0; position:fixed; bottom:0; left:0; width:100%; height:120px; padding:6px 0 7px; z-index:50; text-align:center}
#pages h2{ padding-bottom:20px}
#pages #pages_container li{ height:40px; padding-left:5px; list-style:none; border:1px dashed #efefef; background:#666; color:#fff; cursor:pointer; width:250px; line-height:35px; vertical-align:middle}
#pages_container{ width:250px}
#position_infos{ float:right; width:270px}
#editor_infos{ background:transparent url(/images/db_first_bg.jpg) no-repeat scroll left top; float:right; padding-top:20px; padding-left:20px; width:200px}
.tobeedited {border: 1px dashed #96e728; padding: 1em 2em; margin-bottom: 1em}
.tobeedited a {color: #000000}
.tobeedited textarea{ width:550px; height:200px}
.pages_tabnav {border-bottom:1px dashed white; margin: 13px 0px 0px 0px; padding: 0px; z-index: 1; padding-left: 10px }
.pages_tabnav ul {margin: 0px; padding: 0px}
.pages_tabnav li {display: inline; overflow: hidden; list-style-type: none}
.pages_tabnav li span.disabled {background: #FAFAFA; border: 1px dashed white; border-bottom: none; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none;}
.pages_tabnav a, pages_tabnav a.active {background: #efefef; font-weight: bold; border: 2px solid black; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none}
.pages_tabnav a.active {background: #FFFFFF; border-bottom: 3px solid #FFFFFF}
.pages_tabnav a:hover {color: #FFFFFF; background: #CCCCCC}
.pages_tabnav a:visited {color: #000000}
.pages_tabnav a.active:hover {background: #FFFFFF; color: #000000}
.pages_tabnav_content {padding: 20px; border: 1px dashed white; border-top: none; z-index: 2}
#flash {position: absolute; z-index: 100; top: 0px; left: 0px; width: 98%; padding: 0px; margin-bottom: 16px; margin-left: 5px; text-align: center}
div#notice,div#error{ border: 1px solid #666; color: #fff; font-weight: normal; font-size: 18px; margin:10px; padding:8px; margin-left:0px}
div#notice{ background: blue}
div#error {background: red}
#notice {position: relative; z-index: 1; margin: 0px auto; width: 500px; text-align: center}
.fieldWithErrors {padding: 2px; background-color: #db3838; display: table}
#ErrorExplanation {width: 100%; border: 2px solid #0a0a0a; padding: 7px; background-color: #fce6e6}
#ErrorExplanation h2 {display: none}
#ErrorExplanation p {color: #333; margin-bottom: 0; padding: 5px}
#ErrorExplanation ul {margin-bottom: 0px}
#ErrorExplanation ul li {font-size: 12px; list-style: square}
.error {color: #560109}
.notice {color: #23571D}
.transparent_message {width: 55%; z-index: 100; text-align: center; font-size: 32px; opacity: 0.8; position: absolute; top: 10px; -moz-border-radius:10px}
#ajax_info_message{ width: 400px; z-index: 100; text-align: center; font-size: 32px; opacity: 0.8; position: absolute; top: 10px; -moz-border-radius:10px}
#ajax_info_message_w{ width: 100%; z-index: 100; text-align: center; font-size: 32px; opacity: 0.8; position: absolute; top: 10px; -moz-border-radius:10px}
.transparent_error {background: #FFA3A9; border: 1px solid #750004}
.transparent_error p {color: #560109}
.transparent_notice {background: #9BFFA3; border-top: 1px solid #23571D; border-bottom: 1px solid #23571D; margin: 10px}
.transparent_notice p {color: #23571D}
#info_message {position: absolute; background: #FFF; opacity: 0.7; z-index: 10000}
#info_message p {padding-top: 200px; font-size: 30px; color: #000; text-align: center}
.transparent_ajax_message {width: 100%; text-align: center; font-size: 20px; position: absolute; opacity: 0.8}
.transparent_ajax_error p {color: #560109; background: #FFA3A9; border-left: 1px solid #750004; border-right: 1px solid #750004; border-bottom: 1px solid #750004; margin: 0px 20px 0px 20px; padding-top: 20px; padding-bottom: 20px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px}
.transparent_ajax_notice p {color: #23571D; background: #9BFFA3; border-left: 1px solid #23571D; border-right: 1px solid #23571D; border-bottom: 1px solid #23571D; margin: 0px 20px 0px 20px; padding-top: 20px; padding-bottom: 20px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px}
#ajax_info_message ,#ajax_info_message_w{ position: absolute; background: #FFF; opacity: 0.7}
#ajax_info_message p ,#ajax_info_message_w p{ padding-top: 0px; font-size: 30px; color: #B1A861; text-align: center}