<h1>New photo</h1>

<%= error_messages_for :photo %>

<% remote_form_for(:photo, :url => gallery_photos_path(@gallery),:html => { :multipart => true }) do |f| %>
<%= render(:partial => '/photos/form', :locals=>{ :f=>f})%>
<% end %>

<%= link_to 'Back', gallery_photos_path(@gallery) %>