<h1>New gallery</h1>

<%= error_messages_for :gallery %>

<% form_for(:gallery, :url => galleries_path) do |f| %>
   <%= render :partial => 'form' ,  :locals => {:f => f}%>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', galleries_path %>