<div align="center" style="padding-top:10px">
	<script type="text/javascript"><!--
	google_ad_client = "pub-0602541631809470";
	/* 728x90, date de création 06/02/08 mfegg dark */
	google_ad_slot = "5539909560";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>