  <div id="footer">
  		<div id="copy_r">Put together by <a href="http://www.yabo-concept.ch/" target="_blank"><%= image_tag('http://www.yabo-concept.ch/_img/convecteur_carre_16.gif',:valign=>'baseline') %>Yabo-concept</a></div>
  			<!-- Please do not remove this part. this template is free - the only thing we ask is to live a link to us.-->
				Designed by <a href="http://www.flashdaweb.com/" target="_blank">FlashDaWeb</a>
					<%= 'Powered by'[:powered_by] %> <a href="http://beast.caboo.se/" target="_blank">Beast</a>
					&copy; 2006 <a href="http://www.workingwithrails.com/person/5337-josh-goebel" class="subtle" target="_blank">Josh Goebel</a> <%= 'and'[:and] %> <a target="_blank" href="http://weblog.techno-weenie.net" class="subtle">Rick Olson</a>
  			</div>
  		</div> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6667101-1");
pageTracker._trackPageview();
} catch(err) {}</script>
